/* CSS Document */
@charset utf-8;

/* -- Fonts -- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
}

/* -- Banner Components -- */
.banner {
  height: 300px;
  border: 1px solid red;
}

/* -- Navigation components -- */

.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-top: 1em;
}

.main-nav a {
  display: block;
  padding: 1em;
  text-align: center;
}
  
.pattern {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 2px 5px #DDD;
  -webkit-box-shadow: 0px 2px 5px #DDD;
  -moz-box-shadow: 0px 2px 5px #DDD;
  margin-bottom: 1em;
  overflow: hidden;
}

section { padding:1em; }

a.menu-link {
  position: absolute;
  top: 5px;
  right: 10px;
  display:block;
  padding:1em;
}

a.menu-link:before {
  content:'\2630';
  color: #000;
  font-size: 30px;
}

a.menu-link:hover {
    text-decoration: none;
}

/* Hide */
nav[role=navigation] {
  max-height: 0;
}

/* Show */
nav[role=navigation].active {
  max-height: 15em;
}

/* Vertical Menu */
nav[role=navigation] {
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
}

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  text-align: center;
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-top: 1em;
}

.main-nav li:first-child {
  margin-top: 0;
}

.main-nav a {
  display: block;
  background: #ececec;
  padding: 1em;
  text-align: center;
}

/* -- Layout Components -- */
.container {
  margin: 0 auto;
  border: 1px solid red;
}

.col-container:before, .col-container:after {
  content: " ";
  display: table;
}

.col-container:after {
  clear: both;
}

.col {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid blue;
  min-height: 200px;
}

.col:first-child {
    margin-top: 0;
    padding-top: 0;
    border: none;
}

.col-1 {
  background: purple;
  width: 100%;
}

.col-2 {
  background: orange;
}

.col-3 {
  background: blue;
}

/* -- Smartphone Media Query -- */
@media (max-width: 979px) {
  .pattern {
    margin-top: 4em;
  }
}

/* -- Tablet Media Query -- */

@media (min-width: 48em) {

  .main-nav ul { clear: both; }
  .main-nav li { float: left; margin-left: 1em; margin-top: 0; }
  .main-nav li:first-child { margin-left: 0; }
  .main-nav a { padding: 0.5em 1em; text-align: left; }
  
  .main-nav ul:before, .main-nav ul:after {
    content: " ";
    display: table;
  }

  .main-nav ul:after {
    clear: both;
  }

  .main-nav li {
    float: left;
    margin-left: 1em;
    margin-top: 0;
  }

  .main-nav li:first-child {
    margin-left: 0;
  }

  .main-nav a {
    padding: 0.5em 1em;
    text-align: left;
  }
}

/* -- Desktop Media Query -- */  

@media (min-width: 980px) {

    a.menu-link {
      display:none;
    }
  
    nav[role=navigation] {
      max-height: none;
      display: inline-block;
      float: right;
    }

    nav[role=navigation] ul {
      margin: 0 0 0 -0.25em;
      border: 0;
    }

  /* Horizontal Navigation */ 
    nav[role=navigation]  li {
      display: inline-block;
      margin: 0.3em 1em;
    }

    nav[role=navigation] li a {
      border: 0;
    }

    .container {
      width: 1007px;
    }

    .col {
      float: left;
      margin-top: 0;
      padding-top: 0;
      border: none;
    }

    .col-2 {
      width: 48.75%;
      margin-left: 2.5%;
    }
    
    .col-2:first-child {
        margin-left: 0;
      }

    .col-3 {
      width: 32%;
      margin-left: 2%;
    }
    
    .col-3:first-child {
        margin-left: 0;
    }
}